body {
    background-color: #393939;
    color: aliceblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #f64c72;
}

/* Home page css */

.divider {
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.145);
    border-radius: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, #393939, rgba(0, 0, 0, 0)), url("/images/header-background.jpg");
    background-size: cover;
    transition: all 200ms ease-in-out;
    width: auto;
    height: 350px;
}

.header h1 {
    font-size: 2em;
    margin: 5px;
    padding: 0;
}

.header p {
    font-size: 1.1em;
    margin-block: 10px;
    padding: 0;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 35, 35);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 40px rgb(35, 35, 35);
    transform: scale(0.8);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
    max-width: 1200px;
    height: 100%;
    min-height: 100vh;
    margin: auto;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border-radius: 10px;
    width: 80vw;
    left: 50%;
    top: 10px;
    transform: translate(-50%);
    z-index: 1000;
    padding-inline: 20px;
    transition: all 200ms ease-in-out;
}

.nav-bar h3, .nav-bar h5 {
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

.nav-bar.scrolled {
    background-color: aliceblue;
    color: #393939;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.738);
}

.nav-bar.scrolled h3, .nav-bar.scrolled h5 {
    text-shadow: none;
}

.right-nav button {
    border-style: none;
    background-color: var(--main-color);
    color: aliceblue;
    font-weight: 600;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
}

.right-nav button:hover {
    background-color: #393939;
    color: aliceblue;
    cursor: pointer;
    transform: scale(1.1);
}

.left-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-nav h3 {
    margin-right: 5px;
}

.left-nav h5 {
    position: relative;
    top: 1.5px;
}

.text-section {
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.687);
}

.about-me {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.about-me * {
    margin-inline: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    min-width: 30%;
    padding: 20px;
    background-color: aliceblue;
    color: #393939;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.512);
}

.links ul {
    list-style-type: upper-roman;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.links ul li {
    margin-block: 10px;
}
.links ul li a {
    text-decoration: none;
    color: var(--main-color);
}